@import 'src/styles/base';

button {
	@include inline-center-cell;
	background-color: var(--custom-bg-color, $btn-blue);
	color: var(--custom-color, #fff);
	font-size: var(--custom-font-size, 12px);
	border: none;
	min-width: 80px;
	transition: all 100ms ease-out;
	cursor: pointer;
	&:active {
		transform: scale(0.95);
	}
}
