@import 'src/styles/base';

button {
	border: none;
	border-radius: 5px;
	padding: 5px;
	height: 30px;
	min-width: 80px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
