.form-wrapper {
	background: #fff;
	width: 600px;
	padding: 2rem 2rem;
	border-radius: 5px;
	margin: 20px auto;
	box-shadow: 0 1px 2px 2px rgba(rgb(16, 11, 11), 0.1);
	& .title {
		justify-self: left;
	}
	& .actions {
		direction: rtl;
		--custom-font-weight: bold;
		& .btn-course {
			--custom-bg-color: #66a300;
			--custom-height: 40px;
			display: inline-block;
			margin-left: 10px;
		}
		& .cancel {
			--custom-bg-color: #bbbbbb;
			--custom-color: #5b5b5b;
		}
	}
}
.disabled {
	opacity: 0.7;
	pointer-events: none;
}
