<div class="form-wrapper">
	<form
		[formGroup]="courseForm"
		(ngSubmit)="courseForm.valid ? onSave() : $event.preventDefault()"
		(keyup.enter)="courseForm.valid ? onSave() : $event.preventDefault()"
	>
		<h1 class="title">{{ action }} Course</h1>
		<!-- TITLE INPUT -->
		<app-r-input
			formControlName="title"
			[parentForm]="courseForm"
			[minLength]="2"
			[maxLength]="20"
			fieldName="title"
		/>
		<!-- DESCRIPTION INPUT -->
		<app-r-textarea
			formControlName="description"
			[parentForm]="courseForm"
			[minLength]="20"
			[maxLength]="500"
			fieldName="description"
		></app-r-textarea>
		<!-- DATE INPUT -->
		<app-r-input
			formControlName="date"
			[parentForm]="courseForm"
			fieldName="date"
			[count]="false"
			[placeholder]="dateFormat.format"
			[appDateValidator]="dateFormat"
		/>
		<!-- DURATION INPUT -->
		<app-r-input
			[type]="'number'"
			formControlName="duration"
			[placeholder]="'Enter the minutes...'"
			[parentForm]="courseForm"
			fieldName="duration"
			[count]="false"
			><span class="duration-info" *ngIf="+(duration?.value || 0)">{{
				+(duration?.value || 0) | duration
			}}</span></app-r-input
		>
		<!-- AUTHORS CHIPS AUTHOCOMPLETE -->
		<div>
			<mat-label
				>Authors:
				<!-- Errors authors field -->
				<div
					class="mat-form-errors"
					*ngIf="authors?.invalid && authors?.dirty && authors?.touched"
				>
					<p *ngIf=" authors?.errors?.['customRequiered']" class="form-error">
						*Please add Author Name
					</p>
					<p
						*ngIf="
						authors?.hasError('customValidation') &&
						!authors?.errors?.['customRequiered']
					"
						class="form-error"
					>
						*{{ authors?.errors?.['customValidationMsg'] }}
					</p>
				</div></mat-label
			>
			<mat-form-field
				class="chip-list"
				[ngClass]="{
				'mat-invalid':
					(authors?.hasError('customValidation') ||
						authors?.hasError('customRequiered')) &&
					authors?.dirty &&
					authors?.touched,				
				'mat-valid': authors?.valid && authors?.dirty && authors?.touched,
			}"
			>
				<mat-chip-grid #chipGrid aria-label="Authors selection">
					<mat-chip-row
						*ngFor="let author of authorsArray()"
						(removed)="remove(author)"
					>
						{{ author.name }}
						<button matChipRemove [attr.aria-label]="'remove ' + author.id">
							<mat-icon>cancel</mat-icon>
						</button>
					</mat-chip-row>
				</mat-chip-grid>
				<input
					placeholder="New Author..."
					#authorsInput
					formControlName="authors"
					[matChipInputFor]="chipGrid"
					[matAutocomplete]="auto"
					[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					(matChipInputTokenEnd)="add($event)"
				/>

				<mat-autocomplete
					#auto="matAutocomplete"
					(optionSelected)="selected($event)"
				>
					<mat-option *ngFor="let author of filteredAuthors()" [value]="author">
						{{ author.name }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</div>

		<!-- Buttons -->
		<div class="actions">
			<app-button
				[text]="'Save'"
				[type]="'submit'"
				class="btn-course save"
				[disabled]="courseForm.invalid"
				[ngClass]="courseForm.invalid ? 'disabled' : ''"
			/>
			<app-button
				[text]="'Cancel'"
				class="btn-course cancel"
				(click)="onCancel()"
			/>
		</div>
	</form>
</div>
