<div class="form-wrapper">
	<div [formGroup]="courseForm">
		<h1 class="title">{{ action }} Course</h1>
		<app-r-input
			formControlName="title"
			[parentForm]="courseForm"
			[minLength]="2"
			[maxLength]="20"
			fieldName="title"
		/>
		<app-r-textarea
			formControlName="description"
			[parentForm]="courseForm"
			[minLength]="20"
			[maxLength]="500"
			fieldName="description"
		></app-r-textarea>
		<app-r-input
			formControlName="date"
			[parentForm]="courseForm"
			fieldName="date"
			[count]="false"
			[placeholder]="dateFormat.format"
			[appDateValidator]="dateFormat"
		/>
		<app-r-input
			[type]="'number'"
			formControlName="duration"
			[placeholder]="'Enter the minutes...'"
			[parentForm]="courseForm"
			fieldName="duration"
			[count]="false"
			><span class="duration-info" *ngIf="+(duration?.value || 0)">{{
				+(duration?.value || 0) | duration
			}}</span></app-r-input
		>

		<mat-label>Authors:</mat-label>
		<mat-form-field class="chip-list">
			<mat-chip-grid #chipGrid aria-label="Authors selection">
				<mat-chip-row
					*ngFor="let author of authorsArray()"
					(removed)="remove(author)"
				>
					{{ author.name }} {{ author.lastName }}
					<button matChipRemove [attr.aria-label]="'remove ' + author.id">
						<mat-icon>cancel</mat-icon>
					</button>
				</mat-chip-row>
			</mat-chip-grid>
			<input
				placeholder="New Author..."
				#authorsInput
				formControlName="authors"
				[matChipInputFor]="chipGrid"
				[matAutocomplete]="auto"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				(matChipInputTokenEnd)="add($event)"
			/>
			<mat-autocomplete
				#auto="matAutocomplete"
				(optionSelected)="selected($event)"
			>
				<mat-option *ngFor="let author of filteredAuthors()" [value]="author">
					{{ author.name }} {{ author.lastName }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>

		<!-- Buttons -->
		<div class="actions">
			<app-button [text]="'Save'" class="btn-course save" (click)="onSave()" />
			<app-button
				[text]="'Cancel'"
				class="btn-course cancel"
				(click)="onCancel()"
			/>
		</div>
	</div>
</div>
