<div class="form-wrapper">
	<div [formGroup]="courseForm">
		<app-r-input
			formControlName="title"
			[parentForm]="courseForm"
			[minLength]="2"
			[maxLength]="20"
			fieldName="title"
		/>
		<app-r-textarea
			formControlName="description"
			[parentForm]="courseForm"
			[minLength]="20"
			[maxLength]="500"
			fieldName="description"
		></app-r-textarea>
		<app-r-input
			formControlName="date"
			[parentForm]="courseForm"
			fieldName="date"
			[count]="false"
			[placeholder]="dateFormat.format"
			[appDateValidator]="dateFormat"
		/>
		<app-r-input
			[type]="'number'"
			formControlName="duration"
			[placeholder]="'Enter the minutes...'"
			[parentForm]="courseForm"
			fieldName="duration"
			[count]="false"
			><span class="duration-info" *ngIf="+(duration?.value || 0)">{{
				+(duration?.value || 0) | duration
			}}</span></app-r-input
		>
	</div>
</div>
