<!-- Searchbar, AddCourse button -->
<div class="search-container">
	<app-searchbar (searchTextChanged)="onSearchClick($event)" />
	<app-button [text]="'Add course'" (click)="onBuildCourse(add)"
		><app-i-plus class="icons"
	/></app-button>
</div>
<ng-container *ngIf="coursesSliceSub$().length; else empty">
	<!-- Course-list -->
	<div
		class="card-container"
		*ngFor="
			let course of coursesSliceSub$();
			let i = index;
			trackBy: trackCourseID
		"
		[appBorderByDate]="course.date"
		[ngClass]="{ 'bg-topRaitings': course.isTopRated }"
	>
		<div class="card-header">
			<div class="title">
				<h1 [appStar]="course.isTopRated">
					Video course {{ i + coursesNumeration() }}.
					{{ course.name | uppercase }}
				</h1>
			</div>
			<div class="info">
				<p><app-i-schedule /> {{ course.length | duration }}</p>
				<p><app-i-calendar />{{ course.date | date : 'dd/MM/yyyy' }}</p>
			</div>
		</div>
		<div class="card-detail">
			<p class="card-description">
				{{ course.description }}
			</p>
			<div class="card-update">
				<app-button [text]="'Edit'" (click)="onBuildCourse(edit, course)"
					><app-i-edit
				/></app-button>
				<app-button [text]="'Delete'" (click)="onDeleteCourse(course)"
					><app-i-delete
				/></app-button>
			</div>
		</div>
	</div>

	<!-- Pagination-->
	<app-pagination
		[currentPage]="currentPage()"
		[limit]="limitToDisplay"
		[total]="pageSize"
		(changePage)="onChangePage($event)"
		(loadMore)="onLoadMore($event)"
		[loadButton]="loadMore_disebled"
	></app-pagination>
</ng-container>

<!-- NO-DATA containerLoad more -->
<ng-template #empty
	><div class="card-container">
		NO DATA, FEEL FREE TO ADD NEW COURSE
	</div></ng-template
>
