<div
	class="card-container"
	*ngFor="let course of courses; trackBy: trackCourseID"
>
	<!-- Course card component will be here -->
	<div class="card-title">
		<h1>{{ course.title }}</h1>
		<div>
			<p><app-i-schedule /> {{ course.duration }}</p>
			<p><app-i-calendar />{{ course.creationDate }}</p>
		</div>
	</div>
	<div class="card-detail">
		<p class="card-description">
			{{ course.description }}
		</p>
		<div class="card-update">
			<app-button [text]="'Edit'"><app-i-edit /></app-button>
			<app-button [text]="'Delete'" (click)="onDeleteCourse(course.id)"
				><app-i-delete
			/></app-button>
		</div>
	</div>
</div>
