@import 'src/styles/base';

.container {
	@include container;
	text-align: center;
}

.card {
	&-container {
		@include container;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $text-grey2;
		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;
		}
		.info p {
			color: $text-grey1;
			padding-left: 10px;
			display: inline-flex;
		}
	}
	&-detail {
		display: grid;
		grid-template-columns: 80% 1fr;
		align-items: center;
		gap: 10px;
	}
	&-description {
		color: $text-grey2;
		text-align: justify;
	}
	&-update {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		gap: 10px;
	}
}

.material-icons {
	font-size: medium;
	font-weight: 600;
}

.bg-topRaitings {
	background-image: linear-gradient(to right, #c6ffdd, #fcffa9, #fff5e3);
}
