<div class="login" *ngIf="!token">
	<form
		class="login-form"
		[formGroup]="form"
		(ngSubmit)="form.valid ? onSubmit() : $event.preventDefault()"
		(keyup.enter)="form.valid ? onSubmit() : $event.preventDefault()"
	>
		<h1 class="login-title">Login</h1>
		<app-r-input
			formControlName="email"
			[parentForm]="form"
			fieldName="email"
			[minLength]="2"
			[maxLength]="20"
		/>
		<app-r-input
			formControlName="password"
			[parentForm]="form"
			fieldName="password"
			[type]="'password'"
			[minLength]="2"
			[maxLength]="20"
		/>

		<div>
			<a href="#"><span class="link">Forgot password?</span></a>
			<app-button [text]="'Login'" class="btn-login" (click)="onSubmit()" />
		</div>
	</form>
</div>
