@import 'src/styles/base';

section {
	background-color: $bg-light;
	color: $text-grey2;
	line-height: $indent1;
	width: 100%;
	padding: 0 $indent1;
	height: $indent1;
}
main {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 20px 50px;
	gap: 20px;
	background-color: $bg-light-grey;
	min-height: calc(100vh - $indent1 * 2);
}
.wrapper {
	padding-top: $indent1;
}
.search-container div:nth-child(1) {
	display: flex;
	gap: 10px;
}
.search-container div:nth-child(2) {
	display: flex;
	justify-content: flex-end;
}

.container {
	@include container;
	text-align: center;
}

// .icons {
// 	font-size: medium;
// 	font-weight: 600;
// }
