<!-- Breadcrumbs -->
<div class="wrapper">
	<section>
		<h4>Courses</h4>
	</section>

	<main>
		<!-- Searchbar, AddCourse button -->
		<div class="search-container">
			<app-searchbar (searchTextChanged)="onSearchTextEntered($event)" />
			<div>
				<app-button [text]="'Add course'"
					><app-i-plus class="icons"
				/></app-button>
			</div>
		</div>

		<!-- Courses list -->
		<app-course-list
			[courses]="courses"
			(deleteCourse)="onDeleteCourseID($event)"
		/>

		<!-- Load more -->
		<div class="container">
			<app-button
				[text]="'Load more'"
				[bgColor]="'transparent'"
				[textColor]="'black'"
				(click)="onLoadMore()"
			/>
		</div>
	</main>
</div>
