<div class="form-row">
	<!-- LABEL-->
	<label class="label" for="{{ fieldName }}"
		>{{ label | titlecase }}:
		<!-- VALIDATION -->
		<div
			class="form-errors"
			*ngIf="formField?.invalid && formField.dirty && formField.touched"
		>
			<p *ngIf=" formField?.errors?.['required']" class="form-error">
				{{ 'errors.required' | translate : { value: label } }}
			</p>
			<p
				*ngIf="
					(formField.hasError('minlength') ||
						formField.hasError('minLengthSpaces')) &&
					!formField.hasError('required')
				"
				class="form-error"
			>
				{{
					'errors.minLength'
						| translate : { value1: label | titlecase, value2: minLength }
				}}
			</p>
			<p
				*ngIf="
					formField.hasError('maxlength') &&
					formField.hasError('maxLengthSpaces') &&
					!formField.hasError('required')
				"
				class="form-error"
			>
				{{
					'errors.maxLength'
						| translate : { value1: label | titlecase, value2: maxLength }
				}}
			</p>
			<p
				*ngIf="formField.hasError('pattern') && !formField.hasError('required')"
				class="form-error"
			>
				{{ 'errors.pattern' | translate }}
			</p>
		</div></label
	>
	<!-- INPUT-->
	<textarea
		class="form-element__textarea"
		[placeholder]="placeholder"
		[value]="value"
		(input)="changed($any($event.target).value)"
		(blur)="touched()"
		[id]="fieldName"
		[ngClass]="{
			invalid: formField.invalid && formField.dirty && formField.touched,
			valid: formField.valid && formField.dirty && formField.touched
		}"
	></textarea>
	<!-- INPUT COUNT-->
	<div class="counter">{{ formField.value.length || 0 }}/{{ maxLength }}</div>
</div>
