/* You can add global styles to this file, and also import other style files */
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 12px;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
img,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
details,
figure,
figcaption,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}
.w-50 {
	width: 50%;
	min-width: 200px;
}
.w-25 {
	width: 25%;
	min-width: 150px;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #bdbdbd;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled):focus-within {
	color: #212529;
	background-color: #fff;
	border-color: #bdbdbd;
	outline: 0;
	box-shadow: 0 0 0 0.22rem rgba(158, 158, 158, 0.25);
}
.mat-mdc-form-field-focus-overlay.ng-tns-c3899553609-0.ng-star-inserted {
	/* background-color: rgba(0,0,0,.87); */
	color: #212529;
	background-color: #fff;
	border: 1px solid red;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.mat-mdc-form-field {
	margin-top: 5px;
}
.mdc-text-field--filled .mdc-line-ripple::after {
	border-bottom-color: var(--mdc-theme-primary, #66a300);
}
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
		.mdc-text-field--textarea
	)
	.mat-mdc-form-field-infix {
	padding-top: 5px;
	padding-bottom: 5px;
}
.chip-list {
	width: 100%;
}
.mdc-text-field {
	padding: 0 10px !important;
}
