/* You can add global styles to this file, and also import other style files */
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 12px;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
img,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
details,
figure,
figcaption,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}
.w-50 {
	width: 50%;
	min-width: 200px;
}
.w-25 {
	width: 25%;
	min-width: 150px;
}
